<!DOCTYPE html>
<html lang="en">

<head>
    <title>What's the weather like?</title>
</head>

<body>
     <h1 class="title">
            What's the weather like today?
        </h1>

    <div class="media-left">
        <figure class="image is-50x50">
                <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
            </figure>
        </div>
     <div class="media-content">
            <div class="content">
                <p>
                        <span class="title">Location: {{ weather.city }}</span>
                            <br>
                        <span class="subtitle">Temperature: {{ weather.temperature }}° F</span>
                            <br> Description: {{ weather.description }}
                    </p>
            </div>
        </div>
                       
    <footer class="footer">
    </footer>
</body>

</html>